@charset "utf-8";
/* CSS Document */
* {
	margin: 0px;
	padding: 0px;
	font-family: Tahoma, Geneva, sans-serif;
}

body {
	background: #EEEEEE;
}

.wrapper {
	display: block;
	margin: 0 auto;
	background: #fff;
	width: 955px;
	height: auto;
	height: 100%;
}

.header {
	display: block;
	float: left;
	width: 100%;
	height: 108px;
	background: url(/public/images/header.png) top left no-repeat;
}

.nav {
	display: block;
	float: left;
	width: 100%;
	background: #000;
	margin-bottom:10px!important;
}

.content {
	display: block;
	float: left;
	width: 100%;
	height: auto;
	height: 100%;
	background: #fff;
}

.footer {
	display: block;
	float: left;
	width: 100%;
	height: auto;
	height: 50px;
	background: #eaeaea;
	text-align: center;
}

.footer h4 { 
	padding:10px; 
	margin:0 auto; 
	font-size:13px;
	font-weight:normal;
	text-align:center;
}

ul li {
	list-style: none;
}

.paises {
	display: block;
	float: left;
	width: 100%;
	background: #000;
	height: 30px;
	line-height: 30px;
}

.paises ul {
	display: block;
	float: left;
	width: 100%;
}

.paises ul li {
	display: block;
	float: left;
	height: 30px;
	line-height: 30px;
	padding: 0px 24px;
	text-transform: uppercase;
	color: #fff;
	font-size: 12px;
}

.paises ul li:hover {
	background: #999999;
	cursor: pointer;
}

.ligas {
	display: block;
	float: left;
	width: 100%;
	background: #999999;
	height: 24px;
	line-height: 24px;
}

.ligas ul {
	display: block;
	float: left;
	width: 100%;
}

.ligas ul li {
	display: block;
	float: left;
	height: 24px;
	line-height: 24px;
	padding: 0px 24px;
	color: #fff;
	font-size: 12px;
}

.ligas ul li.selected {
	color: #222;
	background: #B0B0B0;
}

.ligas ul li:hover {
	color: #222;
	background: #B0B0B0;
	cursor: pointer;
}

.torneos {
	display: block;
	float: left;
	width: 100%;
	background: #B0B0B0;
	height: 24px;
	line-height: 24px;
}

.torneos ul {
	display: block;
	float: left;
	width: 100%;
}

.torneos ul li {
	display: block;
	float: left;
	height: 24px;
	line-height: 24px;
	padding: 0px 24px;
	color: #fff;
	font-size: 12px;
}

.torneos ul li.selected {
	color: #222;
	background: #B0B0B0;
}

.torneos ul li:hover {
	color: #222;
	background: #B0B0B0;
	cursor: pointer;
}

.content {
	display: block;
	float: left;
	width: 100%;
	padding-bottom: 50px;
}

.escudos {
	display: block;
	float: left;
	width: 100%;
}

.escudos ul {
	display: block;
	float: left;
	width: 100%;
	margin-left: 24px;
	margin-top: 10px;
	height: 30px;
	line-height: 30px;
	margin-bottom: 20px;
}

.escudos ul li {
	display: block;
	float: left;
	width: 24px;
	height: 24px;
	margin-right: 20px;
	list-style: none;
}

.tabla_fecha {
	display: block;
	float: left;
	width: 43%;
	margin-top:10px;
}

.tabla_fecha .dataTables_wrapper { border:solid 1px #008933;}
.tabla_posiciones .dataTables_wrapper { border:solid 1px #008933;}


.tabla_posiciones {
	display: block;
	float: left;
	width: 55%;
}

.select_fecha {
	display: block;
	float: left;
	width: 40%;
	height: 20px;
	background: #008933;
	padding: 10px;
	font-size: 13px;
	color:#fff;
}

.select_fecha .left {
	display: block;
	float: left;
	width: 24px;
}

.select_fecha .right {
	display: block;
	float: right;
	width: 24px;
}

.select_fecha .fecha {
	display: block;
	float: left;
	text-align: center;
	width: 68%;
}

.tabla_fecha table {
	font-size: 12px;
	border-left: solid 1px #F4F4F4;
	border-top: solid 1px #F4F4F4;
}

.tabla_fecha table td {
	padding: 7px;
	border-right: solid 1px #F4F4F4;
	border-bottom: solid 1px #F4F4F4;
}

/*.tabla_fecha table.dataTable thead th { padding:0px;}
.tabla_fecha table.dataTable td { padding:3px 4px;}*/

.tabla_fecha table.dataTable thead th.th1 { width:85px!important;}
.tabla_fecha table.dataTable thead th.th4 { width:85px!important;}
.tabla_fecha table.dataTable thead th.th5 { width:70px!important;}
.tabla_fecha table.dataTable thead th.th2, .tabla_fecha table.dataTable thead th.th3 { 
	padding:0px!important;
}

table.dataTable tr.odd { background-color: #F4F4F4; }
table.dataTable tr.even { background-color: white; }

table.dataTable tr.even.confirmado {
	background-color: #E4F8FF;
	font-weight: bold;
}
table.dataTable tr.odd.confirmado {
	background-color: #EDFFDD;
	font-weight: bold;
}

.tabla_fecha table th {
	text-transform: uppercase;
	border-right: solid 1px #F4F4F4;
	border-bottom: solid 1px #F4F4F4;
}

.tabla_posiciones {
	margin-left: 10px; margin-top:11px;
}

.tabla_posiciones .title {
	display: block;
	float: left;
	width: 100%;
	height: 20px;
	padding:10px 0px;
	font-size: 13px;
	background: url(/public/images/title_tabla.png) top left no-repeat;
}

.tabla_posiciones table {
	display: block;
	float: left;
	font-size: 12px;
	color: #000;
}

.tabla_posiciones table td {
	border-right: solid 1px #F4F4F4;
}

/*.tabla_posiciones table tr.odd td {
	background: #F4F4F4;
}*/

table.dataTable tr.lider {
	background-color: #CDFDCD;
	border-top: solid 1px green;
	border-bottom: solid 1px green;
	color: green;
	font-weight: bold;
}
table.dataTable tr.descenso {
	background-color: #FDD;
	border-top: solid 1px red;
	border-bottom: solid 1px red;
	color: red;
}

.tabla_posiciones table th {
	text-transform: uppercase;
	border-right: solid 1px #F4F4F4;
	border-bottom: solid 1px #F4F4F4;
}

.tabla_equipo table td {
	padding: 7px;
	border-right: solid 1px #F4F4F4;
	border-bottom: solid 1px #F4F4F4;
}

.tabla_equipo table th {
	text-transform: uppercase;
	border-right: solid 1px #F4F4F4;
	border-bottom: solid 1px #008933;
	padding:8px;
}
.tabla_equipo table {
	font-size: 12px;
	border: solid 2px #008933;
	margin-top:10px;
}

.tabla_equipo table tr.odd { background:#F4F4F4;}

.tabla_equipo table tr.empate { background: #FFFFAE;}
.tabla_equipo table tr.victoria { background: #A5F8A5;}
.tabla_equipo table tr.derrota { background: #FF9B9B;}

.sky {
	display: block;
	float: right;
	margin-right: 10px;
	width: 160px;
	height: 600px;
	background: #F4F4F4;
}

.editable {
	cursor: pointer;
}

#prev {
	cursor: pointer;
}

#next {
	cursor: pointer;
}

form.picante select {
	width: 45px;
	height: 30px;
	font-size: 12px;
	margin-bottom: 0px;
}

.alert-resultado { background:#BEE7A3!important; color:#333!important;}

.ad_izq { display:block; width:300px; height:250px; margin:10px auto;}
.btn-small { margin-bottom:2px!important}
#.well { font-size:14px; color:#008933; padding:10px 20px!important;}
#.well p { font-size:14px; color:#008933; padding:10px 20px!important;}
#.well p a.btn { float:right;}
