#{extends 'main.html' /}
#{set title: ':: Sigue la Tabla :: ' + equipo /}

#{set 'moreStyles'}
  <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/jquery.dataTables.css'}">
#{/set}

#{set 'moreScripts'}
	<script src="@{'/public/javascripts/jquery.dataTables.min.js'}" type="text/javascript" charset="UTF-8"></script>
	<script type="text/javascript" charset="utf8">
		$(document).ready(function() {
	    $('#partidos').dataTable(
	    	{
	    		"bFilter": false,
	    		"bInfo": false,
	    		"bPaginate": false,
	    		"bAutoWidth": false,
	    		"bSaveState": false,
	    		"bSort": false,
	    		"bSortClasses": false,
    		}
	    );
    });
	</script>
#{/set}

	<div class="header">
		<img src="/public/images/header.png" alt="Sigue la Tabla" />
	</div>
	<div class="content">
   	<div class="well">
   		<p>
   			${torneo.liga.pais} - ${torneo.liga} - ${torneo}
   			<a href="@{Application.index(torneo.liga.pais.name(), torneo.liga.id, torneo.id)}" class="btn">Volver</a>
   		</p>
  	</div>
   	<div>
			#{list torneo.equipos}
				<a href="@{Application.equipo(_.id, torneo.id)}" class="btn btn-small ${_ == equipo ? 'btn-success' : ''}">
					${_.nombre}
				</a>
			#{/list}
    </div>
		<div class="tabla_equipo">
			<table>
				<thead>
					<tr>
						<th>fecha</th>
						<th>&nbsp;</th>
						<th>vs</th>
						<th>&nbsp;</th>
						<th>&nbsp;</th>
					</tr>
				</thead>
				<tbody>
				#{list partidos}
					<tr class="${_parity}">
						<td>${_.fecha}</td>
						<td>${_.cuando.format('d MMM yy', 'es')}</td>
						<td>${_.local == equipo ? _.visitante : _.local}</td>
						<td>${_.local == equipo ? _.golesLocal : _.golesVisitante}</td>
						<td>${_.local == equipo ? _.golesVisitante : _.golesLocal}</td>
					</tr>
				#{/list}
				</tbody>
			</table>
		</div>
	</div>
