#{extends 'main.html' /}
#{set title: ':: Sigue la Tabla ::' /}

#{set 'moreStyles'}
  <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/jquery.dataTables.css'}">
#{/set}

#{set 'moreScripts'}
	<script src="@{'/public/javascripts/jquery.dataTables.min.js'}" type="text/javascript" charset="UTF-8"></script>
	<script src="@{'/public/javascripts/jquery.jeditable.js'}" type="text/javascript" charset="UTF-8"></script>
	<script src="@{'/public/javascripts/slt.js'}" type="text/javascript" charset="UTF-8"></script>
	<script type="text/javascript" charset="utf8">
		var modificaciones = [];

		var partidos = [];
		#{list partidos, as: 'p'}
			partidos.push({
				"id"						: ${p.id},
				"cuando"				: "${p.cuando.format("d MMM, HH:mm", 'es')}",
				"local"					: "${p.local.nombre}",
				"local_id"			: ${p.local.id},
				"visitante"			: "${p.visitante.nombre}",
				"visitante_id"	: ${p.visitante.id},
				"golesLocal"		: ${p.golesLocal},
				"golesVisitante": ${p.golesVisitante},
				"confirmado"		: ${p.confirmado},
				"fecha"					: ${p.fecha}
			});
		#{/list}
		
		var equipos = [];
		#{list torneo.equipos, as: 'e'}
			equipos.push({
				"id"							:	${e.id},
				"nombre"					: "${e.nombre}",
				"puntosDescenso"	: ${e.puntosDescenso},
				"jugadosDescenso"	: ${e.jugadosDescenso}
			});
		#{/list}
		
		var fecha = ${torneo.fecha};
		var fechas = ${torneo.fechas};

		$(document).ready(function() {
	    $('#tabla').dataTable(
	    	{
	    		"bFilter": false,
	    		"bInfo": false,
	    		"bPaginate": false,
	    		"bAutoWidth": false,
	    		"bSaveState": false,
	    		"bSort": true,
	    		"bSortClasses": false,
	    		"aaSorting": [ [1, 'desc'], [6, 'desc'], [7, 'asc'], [0, 'asc'] ],
	    		"aaData": calcularTabla(),
					"oLanguage": {
			      "sEmptyTable": "No hay información de equipos"
			    } 
    		}
	    );
	    
	    $('#partidos').dataTable({
    		"bFilter": false,
    		"bInfo": false,
    		"bPaginate": false,
    		"bSaveState": false,
    		"bSort": false,
    		"fnCreatedRow": createdRow,
   			"fnInitComplete": initComplete,
    		"aaData": mostrarPartidos(${torneo.fecha}),
				"aoColumns": [
				  { "mDataProp": "local" },
				  { "mDataProp": "golesLocal" },
				  { "mDataProp": "golesVisitante" },
				  { "mDataProp": "visitante" },
				  { "mDataProp": "cuando" }
					],
				"oLanguage": {
		      "sEmptyTable": "No hay información de partidos"
		    } 
			});
			
			$('#help-alert').bind('closed', function () {
			  $.post('closedHelp');
			})
	    
			// botones para avanzar y retroceder de fecha
			$('#prev').click(prevFecha);
			$('#next').click(nextFecha);
		});
	</script>
#{/set}

	<div class="nav">
		*{ 
		<div class="paises">
			<ul>
				#{list models.Pais.values()}
					#{if _ == pais}
						<li>${_.nombre}</li>
					#{/if}
					#{else}
						#{a @Application.index(_.name())}
							<li>${_.nombre}</li>
						#{/a}
					#{/else}
				#{/list}
			</ul>
		</div>
		}*
		<div class="ligas">
			<ul>
				#{list ligas}
					#{if _ == liga}
						<li class="selected">${_}</li>
					#{/if}
					#{else} 
						#{a @Application.index(pais.name(), _.id)}
							<li>${_}</li>
						#{/a}
					#{/else}
				#{/list}
			</ul>
		</div>
		<div class="torneos">
			<ul>
				#{list torneos}
					#{if _ == torneo}
						<li class="selected">${_}</li>
					#{/if}
					#{else} 
						#{a @Application.index(pais.name(), liga.id, _.id)}
							<li>${_}</li>
						#{/a}
					#{/else}
				#{/list}
			</ul>
		</div>
	</div>

	#{if flash.msg}
		<div class="alert alert-info">
			<button type="button" class="close" data-dismiss="alert">×</button> 
			${flash.msg}
		</div>
	#{/if}
	
	#{if showHelp}
	<div id="help-alert" class="alert alert-success">
	  <button type="button" class="close" data-dismiss="alert">×</button>
	  <h4>&iquest;Primera vez en <strong>Sigue La Tabla</strong>?</h4>
	  <br/>

	  <p>
	  	En <strong>Sigue La Tabla</strong> podés ver las tablas de posiciones de distintas ligas y 
	  	torneos de Argentina (y en breve otros países), pero lo más importante es que podés <em>interactuar</em>
	  	con las tablas, y ver cómo quedaría si tu equipo gana la próxima fecha, por ejemplo, o cómo hubiera quedado si en
	  	una fecha pasada las cosas se daban de otra modo.
	  </p>
	  <p>
	  	No hace falta registrarte ni nada, simplemente hacé <strong>click</strong> en la tabla de resultados, y mirá
	  	cómo se modifica la tabla de posiciones. También podés deshacer los cambios hechos o modificarlos cuantas veces quieras.
	  </p>
	  <p>
	  	Dudas, consultas, sugerencias y demases: <a href="@{Application.contacto()}">contacto</a>
	  </p>
	  
	  <button type="button" class="btn btn-success" data-dismiss="alert">&iexcl;Entendí!</button>
	</div>
	#{/if}
	
	<div class="content">
   	<div>
			#{list torneo.equipos}
				<a href="@{Application.equipo(_.id, torneo.id)}" class="btn btn-small">
					${_.nombre}
				</a>
			#{/list}
    </div>
		<div class="tabla_fecha">
			<div class="select_fecha">
				<div class="left">
					<img src="/public/images/arrow_left.png" id="prev" />
				</div>
				<div class="fecha">
					Fecha <span id="fecha">${torneo.fecha}</span> / ${torneo.fechas}
				</div>
				<div class="right">
					<img src="/public/images/arrow_right.png" id="next" />
				</div>
			</div>
			<table width="100%" border="0" cellspacing="0" cellpadding="0" id="partidos">
				<thead>
					<tr>
						<th class="th1">Local</th>
						<th class="th2">&nbsp;</th>
						<th class="th3">&nbsp;</th>
						<th class="th4">Visitante</th>
						<th class="th5">Fecha</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
			
			<div id="cambios"></div>
    		<div class="ad_izq">
            <script type="text/javascript"><!--
               google_ad_client = "ca-pub-1938860750012804";
               /* siguelatabla_box */
               google_ad_slot = "8027170996";
               google_ad_width = 300;
               google_ad_height = 250;
               //-->
            </script>
            <script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
         </div>
        </div>
		<div class="tabla_posiciones">
			<div class="title"></div>
			<table width="100%" border="0" cellspacing="0" cellpadding="0" id="tabla">
				<thead>
					<tr>
						<th style="width: 50%">Equipo</th>
						<th>PTS</th>
						<th>PJ</th>
						<th>PG</th>
						<th>PE</th>
						<th>PP</th>
						<th>GF</th>
						<th>GC</th>
<!-- 						<th>DG</th> -->
						<th>PROM</th>
					</tr>
				</thead>
			</table>
		</div>
		<!-- 
		<div class="sky"></div>
		 -->
	</div>
