<!DOCTYPE html>

<html lang="es">
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="UTF-8">
        #{get 'moreStyles' /}
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/bootstrap.css'}">

        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">

        <script src="@{'/public/javascripts/jquery-1.7.2.min.js'}" type="text/javascript" charset="UTF-8"></script>
        <script src="@{'/public/javascripts/underscore-min.js'}" type="text/javascript" charset="UTF-8"></script>
        <script src="@{'/public/javascripts/bootstrap.min.js'}" type="text/javascript" charset="UTF-8"></script>
        #{get 'moreScripts' /}
        
<!-- analytics -->
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-34279624-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<!-- analytics -->
    </head>
	<body>
	<div class="wrapper">
		<div class="header">
			<a href="/">
				<img src="/public/images/header.png" alt="Sigue la Tabla" />
			</a>
		</div>
    #{doLayout /}
		<div class="footer">
			<h4>
				&#9658; &nbsp;
				<a href="@{Application.contacto}">contacto</a>
				&mdash;
				<a href="http://www.jengibre.com.ar">&copy; jengibre</a>
				&nbsp; &#9668;
			</h4>
		</div>
	</div>
	</body>
</html>
